
@{
    ViewBag.Title = "KayıtYok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Siteye Kayıtlı Değilsiniz...Aşağıdaki linkten kayıt olabilirsiniz. Bizi tercih ettiğiniz için Teşekkürler...</h2>
<h4><a class="shopBtn" href="/Account/Register" title="add to cart" style="background-color:chartreuse"> Kayıt Ol </a></h4>

